language: node_js
node_js:
  - 14 # use nodejs v14 LTS
os: linux
cache:
  # yarn: false
  directories:
    - node_modules
branches:
  only:
    - main # build master branch only
script:
  - npm run build
deploy:
  provider: pages
  token: $GH_TOKEN
  skip_cleanup: true
  keep_history: true
  on:
    branch: main
  local_dir: build
